.Button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 15vh;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:hover{
    transform: scale(1.15);
}